/**
 * This file provides main design changes for the DI template
 * Feb 2021
 * @author Marc Pilloud 
 * @author Gordan Savicic
 */


/* General resets
********************************************************************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a:focus {
    outline: none;
}


/* Header stuff
********************************************************************/

#dokuwiki__header__di {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    display: flex;
}

.headings {
    display: grid;
    align-items: center;
    background: white;
    justify-items: center;
}

.headings.hasSidebar {
    background: var(--color-gray-level-100);
}

.headings>a>img {
    margin-top: -4rem;
}

.headings>a:hover,
.headings>a:active,
.headings>a:focus {
    outline: 0;
}

.di-logo {
    -webkit-filter: drop-shadow(5px 2px 10px rgba(0, 0, 0, 0.5));
    /* filter: url(#drop-shadow); */
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";

}

.di-background-header {
    object-fit: cover;
    height: 30vh;
    width: 100vw;
    transition: .8s height;
}

.sticky {
    height: 0px;
}

/* Main grid container for site
********************************************************************/
#container {
    display: grid;
    grid-template-columns: 25% 1fr 20%;
    background: var(--color-gray-level-100);
    margin-top: 20vh;
}

.tools {
    display: grid;
    background: white;
}

div.breadcrumbs {
    padding: 1rem 0.5rem 0 1rem;
    grid-column-start: 2;
    background: white;
}

.hasSidebar #dokuwiki__content {
    grid-column-start: 2;
    grid-column-end: 4;
}

#dokuwiki__content {
    grid-column-start: 1;
    grid-column-end: -1;
}

#dokuwiki__sitetools {
    padding: 1rem 1rem 0 0;
}


#dokuwiki__content {
    background: white;
    padding: 1rem;
}


#dokuwiki__site>.site {
    padding: 0;
}


/* sidebar
********************************************************************/

.dokuwiki .aside {
    overflow: hidden;
    word-wrap: break-word;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    background: #fbfbfb;
}

/* make sidebar more condensed */
.dokuwiki .aside h1 {
    margin-bottom: .222em;
}

.dokuwiki .aside h2 {
    margin-bottom: .333em;
}

.dokuwiki .aside h3 {
    margin-bottom: .444em;
}

.dokuwiki .aside h4 {
    margin-bottom: .5em;
}

.dokuwiki .aside h5 {
    margin-bottom: .5714em;
}

.dokuwiki .aside p,
.dokuwiki .aside ul,
.dokuwiki .aside ol,
.dokuwiki .aside dl,
.dokuwiki .aside pre,
.dokuwiki .aside table,
.dokuwiki .aside fieldset,
.dokuwiki .aside hr,
.dokuwiki .aside blockquote,
.dokuwiki .aside address {
    border-bottom: 1px solid #d9d9d9;
    margin: 0;
}

.dokuwiki .aside p {
    padding: 0.5rem 0 0.5rem 0.5rem;
    border-left: 7px solid transparent;
}

.dokuwiki .aside p:hover {
    border-left: 7px solid #d9d9d9;
}

.dokuwiki .aside ul,
.dokuwiki .aside ol {
    padding-left: 0rem;
    list-style-type: none;
}

.dokuwiki .aside ul>li,
.dokuwiki .aside ol>li {
    padding-left: 1.4rem;
    padding-top: 0rem;
    margin: 0rem;
    width: 100%;
    border-left: 7px solid transparent;
    border-bottom: 1px solid #d9d9d9;
}

.dokuwiki .aside ul>li:last-child,
.dokuwiki .aside ol>li:last-child {
    border-bottom: 1px solid transparent;
}

.dokuwiki .aside ul>li:hover,
.dokuwiki .aside ol>li:hover {
    border-left: 7px solid #d9d9d9;
}

.dokuwiki .aside ul>li div.li {
    display: flex;
    padding: 0.5rem 0;
}

.dokuwiki .aside ul>li.level1.open > div.li::after {
    content: url("images/chevron-top.svg");
    display: flex;
    margin-right: 2rem;
    color: #333;
    justify-content: center;
}

.dokuwiki .aside ul>li.level1.closed > div.li::after {
    content: url("images/chevron-bottom.svg");
    display: flex;
    margin-right: 2rem;
    color: #333;
    justify-content: center;
}



.dokuwiki .aside span {
    display: flex;
    width: 100%;
}

.dokuwiki .aside a.wikilink2 {
    font-size: 1rem;
    border-bottom: 0;
    flex-grow: 1;
    color: #333;
    outline: none;
}

[dir=rtl] .dokuwiki .aside ul,
[dir=rtl] .dokuwiki .aside ol {
    padding-right: .5em;
}

.dokuwiki .aside li ul,
.dokuwiki .aside li ol {
    margin-bottom: 0;
    padding: 0;
}

/* site-tools
********************************************************************/

#dokuwiki__sitetools form.search input#qsearch__in {
    width: auto;
    padding: .35em 22px .35em .1em;
    border: 1px var(--color-gray-level-300) solid;
    border-radius: 0;
    background: var(--color-gray-level-200);
}

#dokuwiki__sitetools form.search input#qsearch__in:focus {

    border: 1px var(--color-gray-level-400) solid;
    outline: none;
}

#dokuwiki__sitetools form.search button {
    background: transparent url("../../images/magnifier.png") no-repeat 0 0;
    border-width: 0;
    width: 19px;
    height: 14px;
    text-indent: -99999px;
    margin-left: -20px;
    box-shadow: none;
    padding: 0;
}

/* fixes an unwanted pixel below input form */
.JSpopup {
    border: 0 !important;
}


/* TOC
********************************************************************/

#dw__toc a {
    color: var(--color-gray-level-900);
}

#dw__toc {
    background: var(--color-gray-level-100);
    padding: 0.5rem 1.5rem;
    min-width: 15rem !important;
    max-width: 25rem !important;
}