:root {
  --color-gray-level-100: #FBFBFB;
  --color-gray-level-200: #F8F8F8;
  --color-gray-level-300: #D9D9D9;
  --color-gray-level-400: #B6B6B6;
  --color-gray-level-800: #333333;
  --color-gray-level-900: #111111;

  --color-d-pink: #D742FB;
  --color-d-rosa: #FF87FF;
  --color-d-lavendel: #B196FF;
  --color-d-violett: #7C4DFF;
  --color-i-blue: #84CEFF;
  --color-i-lightblue: #B2FFFF;
  --color-i-green: #00FF93;
  --color-i-neongreen: #94FF57;
}
